body {
  width: 150px;
  height: 170px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type="submit"] {
  width: 90px;
  height: 40px;
  margin: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
input[type="submit"]:active {
  transform: translateY(-2px);
}
.start-btn, .stop-btn {
  background-color: rgba(153, 137, 137, 0.5);
}
.start-btn:hover {
  color: #fff;
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(30, 228, 149, 0.4);
}
.stop-btn:hover {
  color: #fff;
  background-color: #ff3333;
  box-shadow: 0px 15px 20px rgba(249, 63, 63, 0.4);
}
.start-clicked {
  background-color: #1ee495;
}
.stop-clicked {
  background-color: #f93f3f;
}
a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}